@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $gray-900-color;
    scroll-behavior: smooth;
}

body {
    @include margin-padding-reset;
    background-color: $white-color;
    background-image: url(../assets/images/background.png);
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: contain;
}

h1,
h2,
h3,
h4,
p {
    @include margin-padding-reset;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    @include margin-padding-reset;
    list-style: none;
}

.container {
    max-width: $container-max-width;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* all clapm functions from 1920px to 320px */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: clamp(1.375rem, 1.1rem + 1.375vw, 2.75rem); /* 44px > 22px */
    margin-bottom: clamp(2.625rem, 2.0875rem + 2.6875vw, 5.3125rem); /* 85px > 42px */

    &__description{
        font-weight: 700;
        font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem); /* 16px > 10px */
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: clamp(0.125rem, 0.05rem + 0.375vw, 0.5rem); /* 8px > 2px */
        text-align: center;
    }

    &__heading{
        font-weight: 900;
        font-size: clamp(1.75rem, 1.525rem + 1.125vw, 2.875rem); /* 46px > 28px */
        line-height: 130%;
        text-align: center;
    }
}

.filter-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem); /* 60px > 30px */

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.filter-buttons{
    display: flex;
    overflow-y: auto;
    width: 100%;
}

.filter-button{
    padding: clamp(0.3125rem, 0.25rem + 0.3125vw, 0.625rem) clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem); /* 10px > 5px & 20px > 10px */
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: $border-radius;
    transition: border .3s ease, color .3s ease;
    font-weight: 700;
    font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem); /* 16px > 10px */
    line-height: 160%;
    text-align: center;
    color: $gray-600-color;
    display: flex;
    align-items: flex-start;
    white-space: nowrap;

    &--active {
        color: $primary-color;
        border: 1px solid $primary-color;

        .filter-button__count {
            color: $primary-color;
        }
    }

    &:not(:last-child){
        margin-right: clamp(0.375rem, 0.3rem + 0.375vw, 0.75rem); /* 12px > 6px */
    }

    &__count{
        color: $gray-600-color;
        font-weight: 900;
        font-size: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem); /* 10px > 8px */
        line-height: 150%;
        text-align: center;
        transition: color .3s ease;
        margin-left: 4px;
    }
}

.search-input {
    padding: clamp(0.375rem, 0.3125rem + 0.3125vw, 0.6875rem) clamp(0.625rem, 0.55rem + 0.375vw, 1rem); /* 11px > 6px & 16px > 10px */
    border: 1px solid $gray-400-color;
    border-radius: $border-radius;
    font-weight: 400;
    font-size:  clamp(0.625rem, 0.575rem + 0.25vw, 0.875rem); /* 14px > 10px */
    line-height: 100%;
    margin-left: 20px;

    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0px;
        margin-top: 12px;
    }

    &--with-icon {
        background-image: url('../assets/images/svg/search.svg');
        background-repeat: no-repeat;
        background-position: right 12px center;
        background-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem); /* 16px > 10px */
        padding-right: 40px;
    }

    &::placeholder{
        color: $gray-600-color;
    }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  margin-bottom: clamp(2.5rem, 2rem + 2.5vw, 5rem); /* 80px > 40px */

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  @media (max-width: 425px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  
  .card {
    width: 100%;
    max-width: 390px;
    height: 438px;
    border-radius: $border-radius;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-300-color;
    box-shadow: 0px 12px 10px -6px #9A9CA50A;
    transition: box-shadow .3s ease;
    cursor: pointer;

    @media (max-width: 765px) {
        height: 390px;
    }

    @media (max-width: 425px) {
        height: fit-content;
    }

    &:hover{
        box-shadow: 0px 80px 80px -20px #9A9CA529;
    }
    
    &__image-container {
      height: 240px;
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content{
        padding: clamp(0.625rem, 0.45rem + 0.875vw, 1.5rem); /* 24px > 10px */
    }

    &__category{
        display: inline-block;
        margin-bottom: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem); /* 20px > 10px */
        background-color: $success-color;
        color: $white-color;
        padding: 1px 8px;
        text-align: center;
        border-radius: $border-radius;
        font-weight: 400;
        font-size: clamp(0.625rem, 0.575rem + 0.25vw, 0.875rem); /* 14px > 10px */
        line-height: 150%;

        &--marketing{
            background-color: $success-color;
        }

        &--management{
            background-color: $info-color; 
        }

        &--hr-and-recruiters{
            background-color: $warning-color;
        }

        &--design{
            background-color: $pink-color; 
        }

        &--development{
            background-color: $purple-color; 
        }
    }

    &__title{
        font-weight: 700;
        font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem); /* 20px > 16px */
        line-height: 150%;
        margin-bottom: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem); /* 20px > 10px */
    }

    &__price{
        font-weight: 700;
        font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem); /* 18px > 14px */
        line-height: 150%;
        color: $primary-color;
        padding-right: clamp(0.25rem, 0.2rem + 0.25vw, 0.5rem); /* 8px > 4px */
        margin-right: clamp(0.25rem, 0.2rem + 0.25vw, 0.5rem); /* 8px > 4px */
        border-right: 1px solid $gray-700-color;
    }

    &__instructor{
        font-weight: 400;
        font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem); /* 18px > 14px */
        line-height: 150%;
        color: $gray-700-color;
    }
}
}

.button-load{
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-bottom: clamp(2.625rem, 2.0875rem + 2.6875vw, 5.3125rem); /* 85px > 42px */
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: $gray-800-color;

    &--with-icon {
        background-image: url('../assets/images/svg/load.svg');
        background-repeat: no-repeat;
        background-position: left 5px center;
        background-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem); /* 24px > 16px */
        padding-left: 40px;
    }
}